.pagination {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.page-btn {
  background: #ffffffDD;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.page-btn.active {
  background: var(--bg-color-second);
  color: white;
}